* {
    box-sizing: border-box;
}

#main {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

/* Header stays at top */
#header {
    flex-shrink: 0;
 overscroll-behavior: contain; 
    background-color: #00000066;
}

#header>section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Content takes remaining space and scrolls */
#content {
    flex: 1;
    overflow-y: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    background-color: #00000066;
    /* smooth mobile scrolling */
}

.section-container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}

.actors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 3fr));
    gap: 10px;
    /* padding: 1.5vw; */
    justify-content: center;
}

.bg {
    position: fixed;
    /* stay in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* make it cover the screen */
    z-index: -1;
    /* push behind content */
}

.rainbow-flow {
    background: linear-gradient(177deg,
            rgba(255, 0, 0, .8),
            rgba(255, 255, 0, .8),
            rgba(0, 255, 255, .8),
            rgba(0, 0, 255, .8),
            rgba(255, 0, 255, .8));

    background-size: 300% 300%;
    animation: rainbowFlow 8s linear infinite;
}

@keyframes rainbowFlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}