.title-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  /* background-color: white; */
  color: white;
  flex-direction: column;
}

.main-container svg {
  width: 400px;
  max-width: 75vw;
}

.main-container > span {
  font-size: 14px;
  padding-bottom: 10vh;
  gap: 10px;
}
