.page-wiki{
    width: 100%;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.page-wiki .section-container{
   
    position: relative;

}
.page-wiki .header{
    height: 60px;
    margin: 10px 0;
    background-color: var(--bg-normal);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    position: sticky;
    top: 10px;
}