@font-face {
    font-family: "Amphoreus";
    src: url("/fonts/Amphoreus.ttf") format("truetype");
    font-display: swap;
}

.chapters-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.chapters-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
}

/* row */

.chapter-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    cursor: default;
    overflow: hidden;
    cursor: pointer;
}

.chapter-row {
    position: relative;
    gap: 12px;
    padding: 10px 16px;
    align-items: center;
}

.chapter-hover-bg {
    position: absolute;
    inset: 0;
    background: rgba(245, 243, 238, 0.04);
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--reveal-duration) ease;
}

.chapter-hover-bg--1 {
    background-size: cover;
    background-position: center;
    opacity: 0;
    filter: blur(4px);
}

.chapter-item:hover .chapter-hover-bg--1,
.chapters-list--palette .chapter-item .chapter-hover-bg--1 {
    opacity: .3;
}

.chapter-hover-bg--2 {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) 50%, transparent 100%);
}

.chapter-item:hover .chapter-hover-bg--2,
.chapters-list--palette .chapter-item .chapter-hover-bg--2 {
    opacity: 1;
}

/* txt c/d swap */

.chapter-cell {
    position: relative;
    min-height: 1.3em;
    display: flex;
    align-items: baseline;
}



.txt-c,
.txt-d {
    display: block;
    transition: opacity var(--reveal-duration) ease;
    /* font-size: 13px;
    line-height: 1.4; */
    /* line-height: 20px; */
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: hidden;
}

.txt-c {
    font-family: "Amphoreus", serif;
    letter-spacing: 0.05em;
    color: rgba(245, 243, 238, 0.75);
    opacity: 1;
    font-size: 18px;
}

.txt-d {
    position: absolute;
    inset: 0;
    opacity: 0;
    color: rgba(245, 243, 238, 0.9);
    font-size: 11px;
}

.chapter-item:hover .txt-c,
.chapters-list--palette .chapter-item .txt-c {
    opacity: 0;
}

.chapter-item:hover .txt-d,
.chapters-list--palette .chapter-item .txt-d {
    opacity: 1;
}

.chapter-cell--title .txt-c {
    font-size: 24px;
}

.chapter-cell--title .txt-d {
    font-size: 16px;
}

.chapter-cell--actors .actors-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.chapter-cell--actors .actors-list .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.chapter-cell--actors .actors-list img {
    width: 50px;
    height: 50px;
    border-radius: 999px;
}

.chapter-cell--actors .txt-c .actors-list img {
    filter: grayscale(1) invert(0.6) opacity(0.3);
}

.chapter-cell--actors .actors-list .avatar span {
    text-align: center;
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: hidden;
    font-size: 14px;
}

.chapter-cell--actors .txt-d .actors-list .avatar span {
    font-size: 10px;
}