.actors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 3fr));
  gap: 10px;
  /* padding: 1.5vw; */
  justify-content: center;
}

.actor-card {
  aspect-ratio: 3/5;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 6px 4px #ffffff00;
  transition: box-shadow 0.3s ease;
}
.actor-card:hover .actor-card-image {
  transform: scale(1.1);
}
.actor-card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.actor-card-flash {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.actor-card-flash span {
  margin: 10px 0;
  font-size: 12px;
}

.actor-card.Ω {
  background: linear-gradient(
    123deg,
    rgba(255, 126, 126, 0.3),
    rgba(255, 255, 128, 0.3),
    rgba(129, 255, 255, 0.3),
    rgba(255, 119, 255, 0.3)
  );
  border-bottom: 3px solid rgb(var(--card-Ω) / 0.8);
}

.actor-card.Ω .actor-card-flash {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 80%,
    rgb(var(--card-Ω) / 0.5) 100%
  );
}

.actor-card.Ω:hover {
  box-shadow: 0 0 15px 6px #ffffff80;
}

.actor-card.EX {
  background: var(--card-bg-normal);
  border-bottom: 3px solid rgb(var(--card-EX));
}

.actor-card.EX .actor-card-flash {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 80%,
    rgb(var(--card-EX) / 0.8) 100%
  );
}

.actor-card.EX:hover {
  box-shadow: 0 0 15px 6px rgb(var(--card-EX) / 0.5);
}

.actor-card.S {
  background: var(--card-bg-normal);
  border-bottom: 3px solid rgb(var(--card-S));
}

.actor-card.S .actor-card-flash {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 80%,
    rgb(var(--card-S) / 0.8) 100%
  );
}

.actor-card.S:hover {
  box-shadow: 0 0 15px 6px rgb(var(--card-S) / 0.5);
}

.actor-card.A {
  background: var(--card-bg-normal);
  border-bottom: 3px solid rgb(var(--card-A));
}

.actor-card.A .actor-card-flash {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 80%,
    rgb(var(--card-A) / 0.8) 100%
  );
}

.actor-card.A:hover {
  box-shadow: 0 0 15px 6px rgb(var(--card-A) / 0.5);
}

.actor-card.NPC {
  background: var(--card-bg-normal);
  border-bottom: 3px solid rgb(var(--card-NPC));
}

.actor-card.NPC .actor-card-flash {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 80%,
    rgb(var(--card-NPC) / 0.8) 100%
  );
}

.actor-card.NPC:hover {
  box-shadow: 0 0 15px 6px rgb(var(--card-NPC) / 0.5);
}

.actor-card.button {
  background: var(--card-bg-normal);
  border-bottom: 3px solid var(--bg-normal);
  transition: background 0.3s ease;
}

/* .actor-card.button .actor-card-flash {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 80%,
    rgb(var(--card-button) / 0.8) 100%
  );
} */

.actor-card.button:hover {
  background: var(--bg-active);
}