.scripts-page {
  min-height: 100vh;
  position: relative;
}

.scripts-title-bar {
  position: sticky;
  top: 0;
  /* background-color: rgba(10, 10, 10, 0.95); */
  backdrop-filter: blur(10px);
  padding: 1.5rem 2rem;
  border-bottom: 2px solid #333;
  z-index: 100;
}

.scripts-page-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(90deg, #feca57, #ff9ff3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.scripts-page-content {
  padding: 3rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.scripts-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.scripts-accordion {
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.scripts-header {
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scripts-header:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.scripts-header > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.scripts-title {
  font-size: 1.3rem;
  font-weight: 600;
}
.scripts-no,
.scripts-chapter {
  margin: 0;
  color: #888;
  font-size: 0.9rem;
  display: flex;
  gap: 10px;
}
.scripts-tag {
  margin: 0;
  padding: 0 10px;
  border-radius: 1em;
  width: fit-content;
  color: #feca57;
  font-size: 0.9rem;
  border: 1px solid #feca57;
  background-color: #feca5755;
}
.scripts-expand-icon {
  font-size: 1.5rem;
  color: #feca57;
}

.scripts-detail {
  padding: 1em 1.5em;
}

.scripts-description {
  /* padding: 0 1.5rem 1.5rem; */
  margin: 0;
  /* line-height: 1.6; */
  color: #ccc;
}
.avatar img{
  width:60px;
  height:60px;
  background-color:rgba(255, 255, 255, 0.534);
  border-radius:50%;
  display:inline-block;
  margin:5px;
}