.song-card {
    cursor: pointer;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.123);
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px auto;
    height: 70px;
    transition: all 0.3s ease;
}

.song-card.expanded {
    height: 170px;
}

.song-cover {
    position: relative;
    height: fit-content;
}

.song-cover svg {
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
}


.song-content {
    /* gap: 8px; */
    padding: 0 15px;
}

.song-name {

    height: 50px;
}

.song-lyrics {
    height: 0;
    opacity: 0;
    padding: 0;
    transition: all .3s ease;
    color: #ccc;
    font-size: 0.9em;
}

.song-card.expanded .song-cover {
    height: 150px;
}

.song-card.expanded svg {
    height: 150px;
    opacity: 1;
}

.song-card.expanded .song-lyrics {

    padding: 5px 0;
    opacity: 1;
    height: 100px;
}

.song-card.expanded .song-content {
    width: calc(100% - 204px);
}

.song-name {
    display: flex;
    flex-direction: column;
}

.song-title,
.song-subtitle {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.song-title {
    font-size: 1.2em;
    height: 30px;
}

.song-subtitle {
    color: #ccc;
    font-size: 0.9em;
    height: 20px;
}