.legend-container {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg-normal);
    backdrop-filter: blur(10px);
    margin-bottom: 10px;
}

.legend-item {
    padding: 5px 15px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    transition: background-color 0.3s ease;
}

.legend-item:hover {
    background-color: var(--bg-active);
}

.legend-block {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;

    vertical-align: middle;
}

.legend-block.cte {
    background: linear-gradient(120deg,
            rgb(var(--card-cte) / 0.3),
            rgb(var(--card-cte) / 0.8));
    border: 1px solid rgb(var(--card-cte));
}

.legend-block.ctd {
    background: linear-gradient(120deg,
            rgb(var(--card-ctd) / 0.3),
            rgb(var(--card-ctd) / 0.8));
    border: 1px solid rgb(var(--card-ctd));
}

.legend-block.ctc {
    background: linear-gradient(120deg,
            rgb(var(--card-ctc) / 0.3),
            rgb(var(--card-ctc) / 0.8));
    border: 1px solid rgb(var(--card-ctc));
}

.legend-block.ctb {
    background: linear-gradient(120deg,
            rgb(var(--card-ctb) / 0.3),
            rgb(var(--card-ctb) / 0.8));
    border: 1px solid rgb(var(--card-ctb));
}

.legend-block.ctf {
    background: linear-gradient(120deg,
            rgb(var(--card-ctf) / 0.3),
            rgb(var(--card-ctf) / 0.8));
    border: 1px solid rgb(var(--card-ctf));
}

.legend-block.cta {
    background: linear-gradient(123deg,
            rgba(255, 126, 126, 0.8),
            rgba(255, 255, 128, 0.8),
            rgba(129, 255, 255, 0.8),
            rgba(255, 119, 255, 0.8));
    border: 1px solid rgb(var(--card-cta) / 0.8);
}

.legend-lables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    /* margin-bottom: 10px; */
}

.legend-detail-container {
    position: relative;
    z-index: 10;
}

.legend-detail {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}