.wave-text {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    font-weight: 500;
    gap: 5px;
}

.wave-char {
    display: inline-block;
    animation: wave-text var(--speed) ease-in-out infinite;
}

@keyframes wave-text {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(calc(var(--amplitude) * -1));
    }

    100% {
        transform: translateY(0);
    }
}